.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem;
	background-color: #234;
	color: #fefefe;

	& > a {
		font-size: 1.2rem;
		font-family: cursive;
	}

	section {
		a {
			margin-left: 1.5rem;
		}
	}
}
